/* GERNERAL */
body {
  margin: 0px;
  padding: 0px;
  font-family: var(--sans-serif);
  background: #eeeeee;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* section divider */
section {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #6f89bf;
  color: white;
  font-weight: 700;
  font-size: 30px;
}

section:nth-child(odd) {
  background-color: white;
}

/* NAV BAR */
li,
a,
button {
  font-family: 'Market Felt', 'Comic Sans MS';
  font-weight: 500;
  font-size: 16px;
  color: #edf0f1;
  text-decoration: none;
}

header {
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100%;
  height: fit-content;
  display: flex;
  border-bottom-style: solid;
  border-bottom-color: white;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px 25px 20px 25px;
  background-color: #231e41;
}

.logo {
  cursor: pointer;
  color: white;
}

.header-RHS {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.nav-bar {
  list-style: none;
  display: flex;
  /*Fix shrink issue falling out of place when web browser shrink;*/
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  ;
}

.nav-bar a {
  transition: all 0.3s ease 0s;
  color: white;
}

.nav-bar li a:hover {
  color: #3A4089;
}

header .join_button {
  margin-left: 30px;
  padding: 10px 15px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  background-color: #6f89bf;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: background-color 0.3s ease, transform 0.2s ease;
  flex-shrink: 0;
}

header .join_button:hover {
  background-color: #657495;
}


/*Intro-Home-Page*/
.banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url(pictures/intro-banner.webp);
  background-size: cover;
  background-position: top;
}

.banner h1 {
  font-size: 50px;
  font-family: "Roboto+Slab";
  margin-top: 300px;
  margin-bottom: 15px;
}

.banner p {
  font-size: 18px;
  font-family: "Roboto+Slab";
  line-height: 25px;
}

.line-break {
  margin-left: 50px;
}


/* Join Party -> user inputs  */
#join {
  text-align: center;
  font-size: 12px;
}

.header {
  text-align: center;
  margin-bottom: 20px;
}

.sub1 {
  color: black;
  font-size: 120px;
  text-align: center;
  margin-bottom: 20px;
}

.comments {
  color: black;
  font-size: 15px;
  text-align: center;
  margin-bottom: 20px;
}

.form-container {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-box {
  margin-bottom: 20px;

}

label {
  color: black;
  display: block;
  margin-bottom: 5px;
}

input {
  padding: 10px;
  width: 200px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 5px;
  color: black;
  font-size: 9px;
}

button {
  padding: 10px;
  cursor: pointer;
  background-color: #6f89bf;
  color: white;
  border: none;
  border-radius: 5px;

}

button:hover {
  background-color: #6c7fa7;
}

/* Voting -> gallery */
#vote .word {
  text-align: center;
}

.word {
  color: black;
  text-align: center;
  margin-bottom: 20px;
  font-size: 120px;
}

.gallery {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.image {
  position: relative;
}

.gallery-img {
  width: 225px;
  height: auto;
  border-radius: 8px;
  margin-bottom: 20px;

  position: relative;
  transition: opacity 0.3s ease;
}

.image:hover .gallery-img {
  opacity: 0.7;
  /* Adjust the opacity value as needed */
}

/* CHART  */
/* #chart {
  position: relative;
} */

#chart h2 {
  font-size: 60px;
  color: black;
  text-align: left;
  margin: 10px 20px 20px; /* Adjusted margin-top to move it up */
  line-height: 300px;
  font-weight: bold;
}

#chart h3 {
  font-size: 20px;
  color: black;
  text-align: left;
  margin: 0;
  top: 0;
  font-weight: bold;
}

#chart svg {
  position: absolute;
  top: 100px;
  right: 70%;
  transform: translateX(-50%);
}


.music-playlist {
  width: 100%;
  height: auto;
  margin-top: 450px; /* Adjust the margin-top value */
}


.music-menu {
  width: 100%;
  height: auto;
  margin-top: 450px; /* Adjust the margin-top value */
}


.menu {
  width: 275px;
  height: 16px;
  margin: 15px 30px auto;
  border-radius: 10px;
  border: 1px solid #fff;
  white-space: nowrap;
}

ul {
  font-size: 12px;
  padding: initial;
}

ul li {
  display: inline-block;
  white-space: nowrap;

}

ul li a {
  color: black;
  text-decoration: none;
  padding: 5px 15px;
  letter-spacing: 0.5px;
}


/* 
.background {
  width: 100%;
  height: 56.25vw;
  /* background: url(https://cdn.klove.com/images/music/artists/bios/SkilletUnleashed.KLArtist.jpg) center/cover; */
  box-shadow: inset 0px -17vw 20vw 1vw #0a1a24;
  position: absolute;
  top: 0;
  z-index: -1;

  img {
    max-width: 100%;
    max-height: 100vh;
    box-shadow: inset 0px -17vw 30vw 1vw #131313;
  }

  +section {
    margin-top: 60vmin;
    background: transparent;

    .bookmark {
      border-color: rgba(255, 255, 255, 0.2);

      svg {
        fill: #fff;
      }
    }

    .album-tracks {
      background: rgba(255, 255, 255, 0.1);
      border: none;
    }
  }
} */



#chart {
  padding: 10px;
  background-color: #f8f8f8;
}

.box {
  background-color: #fff;
  padding: 10px;
  border-radius: 6px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.section-title {
  font-size: 60px;
  font-weight: bold;
  color: #333;
}

button {
  margin-top: 5px;
  padding: 8px;
  background-color: #4CAF50;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

.view-type {
  display: flex;
  margin-top: 5px;
}


.album {
  margin-top: 10px;
  display: flex;
  flex-flow: column;
}

.album__info {
  display: flex;
}

.album__info__meta {
  margin-left: 15px;
}

.tracks__heading {
  display: flex;
  border-bottom: 1px solid #ddd;
  padding: 8px 0;
  font-weight: bold;
}

.tracks__heading__number,
.tracks__heading__title,
.tracks__heading__length,
.tracks__heading__popularity {
  flex: 1;
  font-size: 1px;
}

.track {
  display: flex;
  border-bottom: 1px solid #ddd;
  padding: 8px 0;
}

.track__number,
.track__added,
.track__title,
.track__explicit,
.track__length,
.track__popularity {
  flex: 1;
}

.track__title {
  margin-left: 8px;
}

.title,
.feature {
  display: inline-block;
}

.track__explicit .label {
  display: none;
}

.added,
.not-added,
.feature {
  margin-left: 3px;
}

.added i,
.not-added i {
  font-size: 10px;
  color: #4CAF50;
}

.track__popularity i {
  font-size: 10px;
  color: #4CAF50;
}


/* Download Section */
#download {
  position: relative;
}

#download .title {
  position: absolute;
  top: 0px;
  left: 10px;
  color: black;
  font-size: 60px;
}

#download .login-box {
  background: #fff;
  text-align: center;
  padding: 20px;
  width: 50%;
  position: absolute;
  border-radius: 10px;
}

#download .subtitle {
  color: black;
  font-size: 30px;
  text-align: center;
}

#download .login-box button img {
  margin-right: 10px;
  width: 18px;
  height: 18px;
}

#download .login-box button {
  width: 100%;
  padding: 10px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
  border-radius: 30px;
  background: transparent;
  border: 1px solid #999;
  font-weight: 500;
  color: black;
}

#download .login-box hr {
  border: 0;
  height: 1px;
  background: #c2c2c2;
  margin: 5px;
}

#download .login-box span {
  display: block;
  width: 40px;
  margin: auto;
  background: #fff;
  font-size: 14px;
  margin-top: -16px;
  color: black;
  font-weight: normal;

}

#download .login-box form {
  margin-top: -60px;
}

#download .login-box input {
  width: 100%;
  background: transparent;
  border: 1p solid #999;
  outline: 0;
  padding: 15px 10px;

}

#download .login-box form button {
  background: #3A4089;
  color: #fff;
  border: 0;
  margin-bottom: 15px;
}

#download .login-box p {
  text-align: left;
  color: black;
  font-size: 14px;
  margin-top: -10px;
  font-weight: normal;
}

#download .login-box p a {
  color: #359cf0;
  font-family: arial;
}

/* image wheel */
img {
  float: left;
  width:  230px;
  height: 230px;
  object-fit: cover;
}